/*HEADER*/
.main-header{
    padding: 2rem;
    background-color: var(--secondary);
    .main-header__logo{
        display: flex;
        max-width: 200px;
        min-width: 200px;
        margin:auto;
        text-align: center;
    }
}

.main-header{
    padding: 2rem;
    background-color: var(--secondary);
      .main-header__logo{
      display: flex;
      max-width: 200px;
      min-width: 200px;
      margin:auto;
	  text-align: center;
    }
}
/* Menu */

.main-header{
    font-weight:normal;
    text-align: right;
     .main-header__nav ul li{
     display: inline;
     text-align: right;
     }
    .main-header__nav ul li a{
     background-color: var(--alternative);
     color: var(--secondary);
     padding: var(--spacing-xs);
     font-size: var(--text-md);
    }
}

.menu__link{
    transition: all .3s;
     .menu__link:hover{
     background-color: var(--secondary);
     color: var(--alternative);
    }
}

/* Cards */

#cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;  
    grid-gap: 2rem;
    margin-top: var(--spacing-md);
}

.card{
    flex: 1 1 250px;
     .card div{
     padding: var(--spacing-xs);
     text-align: center;
     font-size: var(--text-md);
    }
}



.card__title__1{
    font-weight: bold;
    display: inline-block;
    font-size: var(--text-lg);
    color: var(--alternative);
    margin-left: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
     .card__title__1:hover{
     background-color: var(--secondary);
     color: var(--alternative);
    }

     .card__text__1{
     font-weight: 700;
     font-size: var(--text-md);
     color: var(--accent);
    }
}



.card__title__2{
    font-weight: bold;
    display: inline-block;
    font-size: var(--text-lg);
    color: var(--alternative);
    margin-left: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
     .card__title__2:hover{
     background-color: var(--secondary);
     color: var(--alternative);
     }
     .card__text__2{
     font-weight: 700;
     font-size: var(--text-md);
     color: var(--accent);
    }
}

.card__title__3{
    font-weight: bold;
    display: inline-block;
    font-size: var(--text-lg);
    color: var(--alternative);
    margin-left: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
     .card__title__3:hover{
     background-color: var(--secondary);
     color: var(--alternative);
    }
     .card__text__3{
     font-weight: 700;
     font-size: var(--text-md);
     color: var(--accent);
    }
}









