/* VARIABLES */
    
    /*Pallete*/
    $primary: #ccb38d;
    $secondary: #EBDFCD ;
    $accent: #000000 ;
    $alternative: #5D0C1D;
    $alternative-dark: #430a20; 

    /* Font-family */
    $text-base: 'Barlow Condensed', sans-serif;

    /* Font-sizes*/
    $text-xl: 48px;
    $text-lg: 30px;
    $text-md: 20px;
    $text-sm: 18px;
    $text-xs: 12px;

    /* Spacings */
    $spacing-xl: 40px;
    $spacing-lg: 36px;
    $spacing-md: 24px;
    $spacing-sm: 20px;
    $spacing-xs: 10px;
